body {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(187, 128, 255);
  font-size: 30px;
  font-family: calibri;
  box-sizing: border-box;
}
z
#start {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  font-size: 300%;
  cursor: pointer;
}

#quiz {
  width: 800px;
  background-color: white;
  border-radius: 20px;
  padding: 100px 0px;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
}

#choices {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 20px 0;
  gap: 10px 20px;
  justify-content: center;
  align-items: center;
}

.choice {
  display: inline-block;
  width: 300px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.choice:hover {
  border: 1px solid rgb(15, 15, 15);
}

#score {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60%;
  text-align: center;
}

.navBar {
  display: flex;
  height: 80px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 50px;
}
.popupContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.44);
  z-index: 999;
  position: fixed;
  display: flex;
  justify-items: center;
  align-content: center;
}
#addQ , #editQ {
  width: 45%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#listCon {
  display: flex;
  justify-content: space-between;
}
.nextQ {
  display: flex;
  position: absolute;
  right: 29%;
  bottom: 30%;
  gap: 10px;
}